{# app/Resources/views/default/search.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="form-group">
        <form data-name="Email Form" id="email-form" name="email-form">
            <div class="container">
                <h3>Личные данные</h3>
                <br>

                <label for="Title">Фамилия:</label>
                <br>
                <div>
                    <input width="300" autofocus="autofocus" class="form-control" data-name="Title" id="Title" maxlength="256" name="Title" value="" type="text">
                </div>
                <br>
                <label for="Title">Имя:</label>
                <br>
                <div>
                    <input width="300" autofocus="autofocus" class="form-control" data-name="Title" id="Title" maxlength="256" name="Title" value="" type="text">
                </div>
                <br>  <label for="Title">Отчество:</label>
                <br>
                <div>
                    <input width="300" autofocus="autofocus" class="form-control" data-name="Title" id="Title" maxlength="256" name="Title" value="" type="text">
                </div>
                <br>
                <label for="Title">Ученая степень:</label>
                <br>
                <div>
                    <input width="300" autofocus="autofocus" class="form-control" data-name="Title" id="Title" maxlength="256" name="Title" value="" type="text">
                </div>
                <br>
                <label for="Title">Год присуждения ученой степени:</label>
                <br>
                <div>
                    <input width="300" autofocus="autofocus" class="form-control" data-name="Title" id="Title" maxlength="256" name="Title" value="" type="text">
                </div>
                <br>
                <label for="Title">Ученое звание:</label>
                <br>
                <div>
                    <input width="300" autofocus="autofocus" class="form-control" data-name="Title" id="Title" maxlength="256" name="Title" value="" type="text">
                </div>
                <br>
                <label for="Title">Год присуждения ученого звания:</label>
                <br>

                <div>
                    <input width="300" autofocus="autofocus" class="form-control" data-name="Title" id="Title" maxlength="256" name="Title" value="" type="text">
                </div>
                <br>
                <label for="Title">Образование:</label>
                <br>
                <div>
                    <input width="300" autofocus="autofocus" class="form-control" data-name="Title" id="Title" maxlength="256" name="Title" value="" type="text">
                </div>
                <br>
                <label for="Title">Общее число публикаций:</label>
                <br>
                <div>
                    <input width="300" autofocus="autofocus" class="form-control" data-name="Title" id="Title" maxlength="256" name="Title" value="" type="text">
                </div>
                <br>
                <div>
                    <label for="Title">Пол:</label>
                    <br>
                    <label>
                        <input type="checkbox">
                        М
                    </label>
                    <br>
                    <label>
                        <input type="checkbox">
                        Ж
                    </label>
                </div>
                <br>
                <label for="Title">Электронная почта:</label>
                <br>
                <div>
                    <input width="300" autofocus="autofocus" class="form-control" data-name="Title" id="Title" maxlength="256" name="Title" value="" type="text">
                </div>
                <br>
                <label for="Title">Телефон для связи:</label>
                <br>
                <div>
                    <input width="300" autofocus="autofocus" class="form-control" data-name="Title" id="Title" maxlength="256" name="Title" value="" type="text">
                </div>
                <br>
                <input  style=" font-size: 150%;background-color: midnightblue;" class="btn btn-primary" type="submit" value="Сгенерировать">
            </div>
        </form>
    </div>
{% endblock %}
